Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
MouseInfo==0.1.2
numpy==1.18.1
opencv-python==4.2.0.32
Pillow==7.0.0
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
PyMsgBox==1.0.7
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
pytube3==9.6.4
PyTweening==1.0.3
pywin32==227
typing-extensions==3.7.4.1
Werkzeug==1.0.0
WTForms==2.2.1
